body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    width: 50%;
    margin: 0 auto;
}

header {
    background-color: #111;
    color: white;
    position: fixed;
    z-index: 10;
    transition: background-color 0.3s ease;
    text-align: center;
    padding: 7px 0;
    width: 100%;
}

header:hover {
    background-color: black;
}



nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

nav li {
    text-align: center;
    margin-right: 20px;
    transition: transform 0.3s ease;
}

nav li:hover {
    transform: scale(1.1);
    text-align: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: darkred;
}

.section {
    padding: 100px 0;
    text-align: center;
}

section h1, section h2 {
    color: #12DF3E;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 7px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    transition: background-color 0.3s ease;
}

footer:hover {
    background-color: black;

}
.footer-text:hover {
    color: darkred; 
    transform: scale(1.1);
    transition: transform 0.3s ease;
}